div.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding: 1;
}
div.gallery:hover{
    border: 2px solid #888;
}
div.gallery img {
    width: 100%;
    height: auto;
    display: flex;
}
div.desc{
    padding:16px;
    text-align: center;
    display: inline;   
    display: flex;

}
/* this is for cssForm and upper one is for css gallery */
/* input type text having select */
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit]{
    width:100%;
    background-color:yellowgreen;
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
input[type=submit]:hover{
    background-color:  #4CAF50;;

}
div{
    border-radius: 5px;
    background-color:#f2f2f2;
    padding:20px;
}

/*for input type password  */
input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}